glimmer-visualizer {
  position: fixed;

  @include safeArea("top", 4%, "top");
  @include safeArea("right", 4%, "right");
  @include safeArea("bottom", 4%, "bottom");
  @include safeArea("left", 4%, "left");

  padding: 17px;
  overflow-y: auto;

  color: $base3;
  background: $base03;
  font-family: Menlo, Courier, monospace;
  box-shadow: rgba(black, 0.4) 0 0 35px;
  z-index: z('visualizer');

  .decompiled {
    .op .opcode {
      color: $cyan;
    }

    .op .name {
      color: $base2;
    }

    .operands {
      padding-left: 17px;
    }

    .operand .name {
      color: $green;
    }

    .operand .raw-value {
      color: $base1;
    }

    .operand .value {
      color: $blue;
    }
  }

  .hexdump {
    pre {
      font-family: Menlo, Courier, monospace;
    }
  }
  
  .bytecode {
    margin-top: 17px;

    .opcode {
      color: $cyan;
    }

    .operand {
      color: $green;
    }
  }
}