glimmer-visualizer {
  @include desktop {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 50%;
    box-shadow: rgba(0, 0, 0, 1) 0 0 2px;
  }

  @include mobile {
    position: fixed;
    top: 5%;
    right: 5%;
    bottom: 5%;
    left: 5%;
    box-shadow: rgba(0, 0, 0, 1) 0 0 35px;
  }

  padding: 17px;
  overflow-y: auto;
  -webkit-overflow-scrolling: touch;

  color: $base3;
  background: $base03;
  box-shadow: rgba(black, 0.4) 0 0 35px;
  z-index: z('visualizer');
  @include monospace;

  .decompiled {
    font-size: 14px;

    .op .opcode {
      color: $cyan;
    }

    .op .name {
      color: $base2;
    }

    .operands {
      padding-left: 17px;
    }

    .operand .name {
      color: $green;
    }

    .operand .raw-value {
      color: $base1;
    }

    .operand .value {
      color: $blue;
    }
  }

  .hexdump {
    font-size: 13px;

    pre {
      @include monospace;
    }
  }
  
  .bytecode {
    margin-top: 17px;

    .opcode {
      color: $cyan;
    }

    .operand {
      color: $green;
    }
  }
}